.imagecontainer {
    background-color: #ccc;
    overflow: hidden;
    position: relative;
    /* max-width: 800px; */
    margin: 20px auto;
    width: 450px;
    height: 450px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
  }
  
  .thumb {
    opacity: 1;
    filter: blur(10px);
    transition: opacity 1s ease-out;
    position: absolute;
  }

  .isThumbLoaded {
    opacity: 0;
  }

  .isImageLoaded {
    transition: opacity 1s ease-out;
    opacity: 1;
  }