.row {
    display: flex;
    width: 100%;
    margin: 20px;
    background-color: yellow;
  }
  
  /* Create two equal columns that sits next to each other */
  .column1 {
    flex: 70%;
    padding: 20px;
    display: flex;
  }

  .column2 {
    flex: 30%;
    padding: 20px;
    display: flex;
  }

  .leftcard1 {
      background-color: blue;
      height: 300px;
      width: 100%;
      padding: 10px;
  }

  .rightcard1 {
    background-color: red;
    height: 300px;
    width: 100%;
    padding: 10px;
}