.container {
    width: 300px;
}

.space {
    margin: 40px 0px;
}

.scroll {
    display: flex;
    background: #152637;
    border-radius: 3px;
    white-space: nowrap; /* [1] */
    overflow-x: auto; /* [2] */
    -webkit-overflow-scrolling: touch; /* [3] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ 
}

  /* [5] */
.scroll::-webkit-scrollbar {
    display: none; 
}

.header2 {
  display: flex;
  background: #152637;
  .logo {
    width: 25%; }
  nav {
    width: 75%; } 
}

.header3 {
  background: #152637;
  .logo {
    width: 100%; }
  nav {
    width: 100%; } 
}

.navitem {
  display: inline-block;
  vertical-align: middle; 
  padding: 12px 16px 13px;
  color: #64cce3;
  &:not(:last-child) {
    border-right: 1px solid rgba(#727c87, .2); 
  }
}

.logo {
  display: inline-block;
  vertical-align: middle; 
  text-align: center; // only effective in example 2/3
  font-weight: 700;
  color: #727c87;
  border-right: 1px solid rgba(#727c87, .4);
  padding: 12px 24px 13px; 
}